In [1]:
from google.cloud import bigquery

In [2]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/pavannaik/Desktop/SQL/sql-kaggle-244915-fceb1d224fa9.json"

In [3]:
client = bigquery.Client()

In [4]:
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

In [5]:
dataset = client.get_dataset(dataset_ref)

In [6]:
tables = list(client.list_tables(dataset))
for table in tables:
    print(table.table_id)

crime

In [7]:
table_ref = dataset_ref.table("crime")
table = client.get_table(table_ref)
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', 'Unique identifier for the record.', ()),
 SchemaField('case_number', 'STRING', 'NULLABLE', 'The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.', ()),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', 'Date when the incident occurred. this is sometimes a best estimate.', ()),
 SchemaField('block', 'STRING', 'NULLABLE', 'The partially redacted address where the incident occurred, placing it on the same block as the actual address.', ()),
 SchemaField('iucr', 'STRING', 'NULLABLE', 'The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.', ()),
 SchemaField('primary_type', 'STRING', 'NULLABLE', 'The primary description of the IUCR code.', ()),
 SchemaField('description', 'STRING', 'NULLABLE', 'The secondary description of the IUCR code, a subcategory of the primary description.', ()),
 SchemaField('location_description', 'STRING', 'NULLABLE', 'Description of the location where the incident occurred.', ()),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', 'Indicates whether an arrest was made.', ()),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', 'Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.', ()),
 SchemaField('beat', 'INTEGER', 'NULLABLE', 'Indicates the beat where the incident occurred. A beat is the smallest police geographic area – each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.', ()),
 SchemaField('district', 'INTEGER', 'NULLABLE', 'Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.', ()),
 SchemaField('ward', 'INTEGER', 'NULLABLE', 'The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.', ()),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', 'Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.', ()),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', "Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.", ()),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', 'The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', 'The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', 'Year the incident occurred.', ()),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', 'Date and time the record was last updated.', ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('location', 'STRING', 'NULLABLE', 'The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.', ())]

In [8]:
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11711587,JC292718,2019-06-04 20:00:00+00:00,072XX W THORNDALE AVE,1360,CRIMINAL TRESPASS,TO VEHICLE,STREET,False,False,...,41,10,26,NaN,NaN,2019,2019-06-11 16:16:50+00:00,NaN,NaN,None
1,11699492,JC278082,2019-05-25 13:57:00+00:00,036XX S ARCHER AVE,0557,ASSAULT,AGG PRO.EMP:KNIFE/CUTTING INST,PARK PROPERTY,True,False,...,12,59,04A,NaN,NaN,2019,2019-06-01 16:04:59+00:00,NaN,NaN,None
2,11684296,JC259726,2019-05-12 02:59:00+00:00,102XX S AVENUE M,1365,CRIMINAL TRESPASS,TO RESIDENCE,APARTMENT,False,False,...,10,52,26,1201495.0,1837768.0,2019,2019-05-19 16:04:45+00:00,41.709585,-87.537699,"(41.709585083, -87.537698669)"
3,11654387,JC223563,2019-04-13 11:30:00+00:00,061XX N OLCOTT AVE,4255,KIDNAPPING,UNLAWFUL INTERFERE/VISITATION,RESIDENCE,False,True,...,41,10,26,1125515.0,1940423.0,2019,2019-04-20 16:05:46+00:00,41.992877,-87.813678,"(41.992877184, -87.813677634)"
4,11652470,JC221158,2019-04-12 01:25:00+00:00,013XX E 87TH ST,5000,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,STREET,True,False,...,8,45,26,1186543.0,1847562.0,2019,2019-04-19 16:10:08+00:00,41.736827,-87.592145,"(41.736826976, -87.592145254)"